---
import { Icon } from "astro-icon";
import Card, { Kind } from "components/Card.astro";
import LinkButton from "components/LinkButton.astro";
import { CHROME_WEBSTORE_URL, FIREFOX_WEBSTORE_URL } from "scripts/constants";
import Tab from "./Tab.astro";
---

<Tab>
    <Fragment slot="header">
        <p>You can download BetterVLR for Firefox and all Chromium browsers.</p>
        <div class="buttons">
            <LinkButton href={FIREFOX_WEBSTORE_URL} target="_blank">
                <Icon name="mdi:firefox" />Firefox
            </LinkButton>
            <LinkButton href={CHROME_WEBSTORE_URL} target="_blank">
                <Icon name="mdi:google-chrome" />Chrome
            </LinkButton>
            <LinkButton href={CHROME_WEBSTORE_URL} target="_blank">
                <Icon name="mdi:edge" />Edge
            </LinkButton>
            <LinkButton href={CHROME_WEBSTORE_URL} target="_blank">
                <Icon name="mdi:opera" />Opera
            </LinkButton>
            <LinkButton href={CHROME_WEBSTORE_URL} target="_blank">
                <Icon name="simple-icons:brave" />Brave
            </LinkButton>
        </div>
    </Fragment>
</Tab>

<style>
    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1em;
        flex-wrap: wrap;
    }

    svg {
        height: 24px;
        margin-right: 0.5em;
    }

    a {
        padding: 10px;
    }
</style>
